@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Variables css */
:root {
    --header-height: 3rem;
    --footer-height: 3rem;

    /* Colors */
    --title-color: #fff;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;
    --header-color: #02cb6a;
    --footer-color: #f89b00;
    --container-color: #dfdfdf;
    --hover-link-color: #000;
    --bg-menu-color: rgba(6, 111, 160, 0.1);

    /* Font & typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --font-normal-weight: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --icon-middle-size: 1.5rem;
    --icon-big-size: 2rem;

    /* Margines */
    --mb-0: 0.25rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-semi-bold);
}

header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-color);
}

main {
    flex: 1 0 auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
    grid-template-rows: 1fr;
    grid-template-columns: 240px 1fr;
    width: 100vw;
}

footer {
    flex-shrink: 0;
    height: var(--footer-height);
    background-color: var(--footer-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.b-grid {
    display: grid;
    gap: 0;
}

.b-flex {
    display: flex;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: var(--mb-3);
    padding-right: var(--mb-3);
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;
}

.nav__link {
    margin-left: var(--mb-4);
}

.nav__logo, .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover,
.nav__link:hover,
.menu__toggle:hover,
.menu__events__btn:hover > span {
    color: var(--hover-link-color);
}

.nav__link.active {
    color: var(--hover-link-color);
}

/* Main --> menu section */

.menu {
    background-image: linear-gradient(to right, rgba(6, 111, 160, 1) 0%, rgba(6, 111, 160, .6) 100%), url('../img/Big Sur Aerial.jpg');
    background-size: auto 100%;
    background-position: center;
}

.menu__toggle {
    display: block;
    min-height: 20px;
    width: 20px;
    margin-top: var(--mb-2);
    cursor: pointer;
    color: var(--title-color);
}

.menu__bar h3 {
    font-size: var(--h3-font-size);
}

.menu__events {
    margin-right: var(--mb-3);
    margin-top: var(--mb-2);
}

.menu__events__btn {
    min-width: 100%;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: none;
    border: 1px solid;
    cursor: pointer;
    box-sizing: border-box;
    border-color: rgba(255, 255, 255, 0);
}

.menu__events__btn:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

.menu__events__btn > span {
    padding-right: var(--mb-2);
    color: var(--title-color);
}

.bx-icon {
    font-size: var(--h2-font-size);
}

.big-calendar {
    background-color: var(--container-color);
}

.t-row {
    display: table-row;
    /*background-color: rgba(6, 111, 160, 1);*/
}

.t-head-row {
    display: table-header-group;
}

.mini-calendar {
    margin-top: var(--mb-2);
}

.m-c__table {
    display: table;
    width: 100%;
}

.m-c__items {
    display: table-cell;
    vertical-align: center;
    text-align: center;
    font-weight: var(--font-normal-weight);
    font-size: var(--normal-font-size);
    padding: var(--mb-0);
    color: var(--title-color);
    border-radius: 50%;
}

.t-row .m-c__items:hover,
.m-c__controller > span:hover
{
    cursor: pointer;
    background-color: #f89b00;
    transition: background-color 100ms linear;
    color: var(--hover-link-color);
}

.m-c__month {
    padding: 0 var(--mb-1);
    margin-bottom: var(--mb-0);
    color: var(--title-color);
}

.m-c__month__name {
    flex-grow: 1;
    font-weight: var(--font-semi-bold);
}

.m-c__controller {
    display: flex;
    font-size: var(--icon-middle-size);
    color: var(--title-color);
}

.big-c__controller{
    display: flex;
    font-size: var(--icon-big-size);
    color: var(--text-color);
}

@media only screen and (max-device-width: 480px) {
    header {
        height: calc(var(--header-height) + 1.5rem);
    }

    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-height) - 3rem);
        grid-template-columns: 1fr;

    }

    footer {
        height: calc(var(--footer-height) + 1.5rem);
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-device-width: 480px) {

}

@media screen and (min-width: 968px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}
